.not-found {
  position: relative;

  h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
  .notification {
    position: absolute;
    top: 0;
  }

  .container {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  h1 {
    font-size: 92px;
    font-family: NotoSerif;
  }

  h2 {
    font-size: 28px;
    font-family: NotoSerif;
  }

  h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  &__content {
    padding: 122px 0;
  }

  &__suggestions {
    margin: 56px 0;
  }

  &__suggestion {
    margin-bottom: 10px;
    
    a {
      text-decoration: underline;
      font-size: 18px;
    }
  }

  &__search {
    width: 100%;
    border: 1px solid black;
    padding: 20px;

    &::placeholder {
      color: black;
      font-family: NotoSans;
      font-size: 18px;
      opacity: 1;
    }
    
    &-container {
      display: flex;
      width: 600px;
      height: 48px;
      position: relative;
    }

    &-icon {
      height: 100%;
      width: 40px;
      position: absolute;
      right: 0;
      border: none;
      background: transparent url("../../../images/search.png") no-repeat center left;
    }
  }

  @media only screen and (max-width: 630px) {
    &__search {
      &-container {
        width: 100%;
      }
    }
  }
}